<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- SEO-related meta tags -->
<title>{{ page.title }} | hammeley.info</title>
<meta name="description" content="{{ page.title }} | hammeley.info">
<meta name="keywords" content="freiheit, {{page.tags}}">

<!-- Security-related meta tags -->
<script src="/scripts/lib/libhmmly/bogdan.js"></script>
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="X-Frame-Options" content="deny">
<meta http-equiv="X-XSS-Protection" content="1; mode=block">
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self' https://www.youtube.com https://hammeley.containers.piwik.pro https://hammeley.piwik.pro/ppms.php https://jsonip.com;
    script-src 'self' 'unsafe-eval' 'unsafe-inline' https://www.youtube.com https://hammeley.containers.piwik.pro https://hammeley.piwik.pro/ppms.php https://cdn.jsdelivr.net;
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net;
    img-src 'self' data: https://i.ytimg.com https://*.wikipedia.org https://*.wikimedia.org https://images-na.ssl-images-amazon.com;
    font-src 'self' https://fonts.gstatic.com;">
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin">

<!-- CSS stylesheet links -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,400&display=swap" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/lite-yt-embed.css"/>
<link rel="stylesheet" href="/styles/style.css">

<!-- Preconnect links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Favicon link -->
<link rel="icon" type="image/png" href="/assets/images/h.svg">
<link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="512x512">

<!-- JavaScript scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="module" src="/scripts/hmmly.js"></script>