{% if page.cipher %}
<section id="notification" class="row justify-content-center">       <div class="col col-md-12 col-lg-10">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% if page.cipher == "cookieEncr" %}Zum Betrachten dieser Seite müssen Tracking-Cookies akzeptiert werden. {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>              
        </div>
    </div>
</section>
{% endif %}