{% if page.rid %}
{% assign rid = page.rid %}
{% endif %}
<div class="rating" id="{{rid}}-rating">
    <input type="radio" id="{{rid}}-star1" name="rating" value="1">
    <label for="{{rid}}-star1"></label>
    <input type="radio" id="{{rid}}-star2" name="rating" value="2">
    <label for="{{rid}}-star2"></label>
    <input type="radio" id="{{rid}}-star3" name="rating" value="3">
    <label for="{{rid}}-star3"></label>
    <input type="radio" id="{{rid}}-star4" name="rating" value="4">
    <label for="{{rid}}-star4"></label>
    <input type="radio" id="{{rid}}-star5" name="rating" value="5">
    <label for="{{rid}}-star5"></label>
</div>