@use 'partials/colors'

rating 
  display: inline-block
  font-size: 24px

rating input
  display: none

rating label
  float: right
  color: colors.$dutch-white
  cursor: pointer


.rating label:before
  content: '\2605'


.rating input:checked ~ label
  color: colors.$dark-red

.rating
  display: inline-block

.rating input
  display: none

.rating label
  float: right
  color: colors.$dutch-white
  cursor: pointer

.rating label:before
  content: '\2605'
  font-size: 24px

.rating input:checked ~ label,
.rating input:checked ~ label:before
  color: colors.$dark-red