@use 'partials/colors'
@use 'partials/fonts'
@use 'partials/rating'

article
  padding-top: 1em
  
body
  color: colors.$eerie-black
  font: 137.5% fonts.$default-font
  background-color: colors.$deep-champagne

header
  position: sticky
  top: 0
  z-index: 9

#menu-container
  position: absolute
  top: 0
  z-index: 10

section
  margin-bottom: 1em

/* anchors */
a
  color: colors.$eerie-black
  
a:active, a:hover
  color: colors.$dark-red
  
a:visited
  color: colors.$eerie-black

/* filter */

a .invert, h1.invert, #navbarToggleExternalContent a
  color: colors.$deep-champagne

.bg-highlight
  background-color: colors.$dutch-white
  
.nav-item
  font-size: 1.2em

nav .border-start
  border-color: colors.$deep-champagne !important

.filter-dutch-white
  filter: invert(87%) sepia(96%) saturate(368%) hue-rotate(306deg) brightness(101%) contrast(91%)

/* bootstrap overwrites */
.card
  background-color: colors.$dutch-white !important

.bg-dark
  background-color: colors.$eerie-black

.btn-primary
  color: colors.$deep-champagne
    
.logo
  width: 3.75em

.ambient
  backdrop-filter: blur(10px)

header.border-bottom
  &--dark-red
    @extend .border-bottom
    border-color: colors.$dark-red !important

.navbar-toggler
  border-color: transparent !important
  color: transparent !important

.navbar-toggler-icon
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/56/Latin_small_letter_H_with_retroflex_hook_and_long_serif_at_top.svg') !important
  border: none !important
  height: 2.3em !important

#text-filter
  background-color: colors.$dutch-white

/* playlist */ 
hmmly-playlist h4.hmmly_link
  cursor: pointer
  margin-bottom: 0em


#randomPasskey, #randomPasskeyHex, #randomEncryptedPasskeyHex, #visitorPassphrase, #visitorPublicPasskey, #visitorPasskeySalt, #visitorPasskeyHex, #plainTextArea, #encryptedTextArea
  background-color: colors.$dutch-white
  color: colors.$dark-red
  border: 1px solid colors.$dark-red

#plainTextArea, encryptedTextArea
  font-family: monospace

/* boostrap */

/* carousel nav arrows #fff > f000 */
.carousel-control-next-icon
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")

.carousel-control-prev-icon
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")

/* shadow alpha  a: 0.15 > 0.5 */
.shadow
  box-shadow: 0 .5rem 1rem rgba(colors.$black, .75) !important

.blockquote, blockquote-footer::before
  margin-left: 3rem !important
  margin-top: 0rem !important