<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h1>Die Seite <span id="page_path">{{ page.url }}</span> existiert nicht. Ähnliche Seiten:</h1>
                </div>
            </section>
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <div id="similar">

                    </div>
                </div>
            </section>

        </article>
        {% include footer.html %}
    </body>
</html>