<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}

        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        
        <article class="container-fluid">
            <!-- top content -->
            {% if page.content_top %}
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                {{ page.content_top | markdownify }}
                </div>
            </section>
            {% endif %}

            <!-- alert -->
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Sollte eine Wiedergabeliste oder ein Video nicht starten, mehrmals probieren (neu laden).
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>              
                    </div>
                </div>
            </section>

            {% assign media_catalogue = site.data.media.films.content | concat: site.data.media.music.content %}
            {% if page.playlist_id %}
            <!-- specific playlist -->
            {% assign playlists = site.data.media.playlists.content | find: "id", page.playlist_id %}
            {% else %}
            <!-- page:/bild-und-ton default -->
            {% assign playlists = site.data.media.playlists.content | where_exp: "pl", "pl.type == 'music' or pl.type == 'film'" %}
            {% endif %}
            

            <div class="row justify-content-center">
                <div class="col col-md-10 col-lg-12">
                    <div id="hmmlyPlayerCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            {% for playlist in playlists %}   
                            {% unless playlist.disabled %}                             
                            {% if forloop.first %}
                            <section class="active carousel-item">{% else %}<section class="carousel-item">
                            {% endif %}
                                <!-- TODO try single nav, for all slides including prev, current and next title -->
                                <nav class="row justify-content-start">
                                    <div class="col-1"> 
                                        <button style="height: 2rem" class="carousel-control-prev" type="button" data-bs-target="#hmmlyPlayerCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Vorherige</span>
                                        </button>
                                    </div>
                                    <div class="col-8">
                                        <h3 class="text-truncate">{{playlist.title}}</h3>
                                    </div>
                                    <div class="col-1">  
                                        <button style="height: 2rem" class="carousel-control-next" type="button" data-bs-target="#hmmlyPlayerCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Nächste</span>
                                        </button>
                                    </div>
                                </nav>                                
                        
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="row justify-content-center">
                                            <div class="col col-md-12 col-lg-10">
                                                <hmmly-player id="{{playlist.id}}" data-playlist-id="{{playlist.id}}"></hmmly-player>
                                                {% unless page.rid %}
                                                    {% assign rid = playlist.id %}
                                                {% endunless %}
                                                {% include rating.html %}
                                                <small>Alternativ, diese Wiedergabeliste im <a href="https://hammeley.info/data/media.json#playlists/content?id={{playlist.id}}">Json-Format herunterladen</a>.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="row mt-4 justify-content-center">
                                    <div class="col col-md-12 col-lg-10">
                                        <h3>Wiedergabeliste</h3>
                                        <p>{{playlist.description}}</p>
                                        <!-- TODO: support for vidid and ytvid -->
                                        <hmmly-playlist id="{{playlist.id}}" data-receiver="{{playlist.id}}-plyer">             
                                            {% for track in playlist.content %}
                                            {% unless playlist.disabled %}     
                                            {% assign media = media_catalogue | find: "id", track.id %}
                                            <div class="searchable" id="{{media.id}}">
                                                <h4 class="hmmly_link" type="button" id="{{media.id}}" data-receiver="{{playlist.id}}-ctrl">{{forloop.index}}. {{media.artist}} - {{media.title}} ({{ media.date | date: "%d.%m.%Y" }})</h4>
                                                {% if media.ntk %}
                                                <small class="ps-4">{{media.ntk}}</small>
                                                {% endif %}
                                            </div>
                                            {% endunless %}
                                            {% endfor playlist.content %}
                                        </hmmly-playlist>
                                    </div>
                                </div>
                            </section>
                            {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
             
            <!-- static content -->
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                    <!-- more -->
                </div>
            </section>

        </article>
        {% include footer.html %}
    </body>
</html>
