<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <h1>Encryption</h1>
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h2>Passkey Hex</h2>
                    <input type="text" readonly class="rounded ps-3 form-control-plaintext" id="randomPasskeyHex" value="">
                </div>
            </section>
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-4">
                    <h2>Plain</h2>
                    <label for="plainTextArea" class="form-label">Plain content</label>
                    <textarea class="form-control ps-3" id="plainTextArea" rows="13"></textarea>
                </div>
                <div class="col col-md-12 col-lg-2">
                    <button id="encryptContentBtn" class="btn btn-primary" type="button">Encrypt</button>
                </div>
                <div class="col col-md-12 col-lg-4">
                    <h2>Encrypted</h2>
                    <label for="encryptedTextArea" class="form-label">Encrypted content</label>
                    <textarea class="form-control ps-3" id="encryptedTextArea" rows="13"></textarea>
                </div>
            </section>
        <!--
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h2>Random Passkey</h2>
                    <div class="col col-12">
                        <label for="randomPasskey" class="form-label">Do not share outside this page.</label>
                        <input type="text" readonly class="rounded form-control-plaintext" id="randomPasskey" value="">
                    </div>
                </div>
            </section>
     

            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h2>Random Encrypted Creator Passkey Hex</h2>
                    <div class="col col-12">
                        <label for="randomEncryptedPasskeyHex" class="form-label">Hex of a random encrypted passkey.</label>
                        <input type="text" readonly class="rounded form-control-plaintext" id="randomEncryptedPasskeyHex" value="">
                    </div>
                </div>
            </section>
            <h1>Visitor</h1>
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h2>Private Passphrase</h2>
                    <label for="visitorPassphrase" class="form-label">Do not share outside this page.</label>
                    <input type="text" class="rounded form-control-plaintext" id="visitorPassphrase" value="Enter a passphrase here.">
                </div>
            </section>
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <section class="row justify-content-center">
                        <div class="col col-md-4 col-lg-4">
                            <h2>Public Passkey</h2>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button id="fromRandomSecret" class="btn btn-primary" type="button">From random secret</button>
                                </div>
                                <input id="visitorPublicPasskey" type="text" class="rounded form-control-plaintext" placeholder="Enter a public key (hex)." aria-label="Enter a public key (hex)." aria-describedby="basic-addon1">
                            </div>
                        </div>
                   
                        <div class="col col-md-4 col-lg-4">
                            <h2>PassKey Salt</h2>
                            <label for="visitorPasskeySalt" class="form-label">Do not share outside this page.</label>
                            <input type="text" readonly class="rounded form-control-plaintext" id="visitorPasskeySalt" value="">
                        </div>
                        <div class="col col-md-4 col-lg-4">
                            <h2>PassKey Hex</h2>
                            <label for="visitorPasskeyHex" class="form-label">Do not share outside this page.</label>
                            <input type="text" readonly class="rounded form-control-plaintext" id="visitorPasskeyHex" value="">
                        </div>
                    </section>
                </div>
            </section>
            <h1>Content</h1>
            <section class="row justify-content-center"> 
                <div class="col col-md-5 col-lg-5">
                    <h2>Plain</h2>
                    <div class="mb-3">
                        <label for="plainTextArea" class="form-label">Plain content</label>
                        <textarea class="form-control" id="plainTextArea" rows="3"></textarea>
                      </div>
                </div>
                <div class="col col-md-5 col-lg-5">
                    <h2>Encrypted</h2>
                    <div class="mb-3">
                        <label for="encryptedTextArea" class="form-label">Encrypted Content</label>
                        <textarea class="form-control" id="encryptedTextArea" rows="3"></textarea>
                      </div>
                </div>  
            </section>
        -->
        </article>
        <script>
        </script>
        {% include footer.html %}
    </body>
</html>