<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <hmmly-player id="l1mBqm3wTlk" data-yt-vid="l1mBqm3wTlk"></hmmly-player>

            <hmmly-player id="C7-vezH4DPc" data-yt-vid="C7-vezH4DPc"></hmmly-player>

            <hmmly-player id="SILVQpqmH7U" data-yt-vid="SILVQpqmH7U"></hmmly-player>

            <hmmly-player id="InFbBlpDTfQ" data-yt-vid="InFbBlpDTfQ"></hmmly-player>
            <!--
            {% assign playlist = site.data.media.playlists.content | find: "id", "schoene-toene" %}
            <h1>Testing video embedding for {{playlist.title}}</h1>
            {% for track in playlist %}
            <section class="row justify-content-center">
                <div class="col col-md-10 col-lg-10">
                    <h1>{{track.title}}</h1>
                    <hmmly-player id="{{forloop.index}}" data-yt-vid="{{track.id}}"></hmmly-player>
                </div>          
            </section>
            {% endfor %}
            -->
        </article>
        {% include footer.html %}
    </body>
</html>