<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        {% assign content = site.data.pages.content | find: "path": "/ueber" %}
        <article class="container-fluid encrypt">
            {% for section in content %}
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h2>{{section.header}}</h2>
                </div>
            </section>
            {% endfor %}
        </article>
    </body>
</html>