<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            {% assign recomm_catalogue = site.data.media.recommendations %}
            {% for section in recomm_catalogue.content %}
            {% assign sid = forloop.index %}
            <section id="{{section.short}}" class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h1>{{ section.title }}</h1>
                   
                    {% for recomm in section.recommendations %}
                        <!-- a href prep -->
                        {% if recomm.source %}
                            {% assign source = recomm.source %}
                            {% assign id = source %}
                            {% if recomm.type == "yt" %}
                                {% if recomm.iframe %}
                                    {% assign source = "https://www.youtube.com/embed/" | append: source %}
                                    {% assign source = source | append: "?origin=" | append: site.url | append: page.url %}
                                {% else %}
                                    {% assign source = "https://www.youtube.com/watch?v=" | append: source %}
                                    {% assign source = source | append: "&origin=" | append: site.url | append: page.url %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% assign source = recomm.title %}
                        {% endif %} <!--- /a href prep -->

                        {% if recomm.source %}
                            {% if recomm.iframe %}
                    <h5 class="searchable"><a href="#collapse-{{sid}}-{{forloop.index}}" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-{{sid}}-{{forloop.index}}">{{ recomm.author }} - {{ recomm.title }} [{{recomm.type}}]</a></h5>
                    <div class="collapse" id="collapse-{{sid}}-{{forloop.index}}">
                        <div class="card card-body ratio ratio-16x9">
                            <!-- todo hmmlyplayer -->
                            {% if recomm.type == "yt" %} 
                            <hmmly-player id="{{id}}" data-yt-vid="{{id}}"></hmmly-player>
                           <!-- <iframe src="{{source}}" title="{{ recomm.title }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="rounded"></iframe> 
                            -->{% elsif recomm.type == "pdf" %}
                            <iframe src="{{source}}" title="{{ recomm.title }}" frameborder="0" type="application/pdf" allowfullscreen class="rounded"></iframe> 
                            {% endif %}
                        </div>
                    </div>
                            {% else %}
                    <h5 class="searchable"><a href="{{source}}" role="button" target="_blank">{{ recomm.author }} - {{ recomm.title }} [ext {{recomm.type}}]</a></h5>
                            {% endif %} <!-- if iframe -->
                        {% else %}
                        <h5 class="searchable">{{source}}</h5>
                        {% endif %}
                    {% endfor %} <!-- /recommendation -->
                </div>
            </section>
            {% endfor %} <!-- /section -->
        </article>
        {% include footer.html %}
    </body>
</html>
