<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
             <!-- static content -->
             <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                </div>
            </section>
            {% assign era = site.data.world_events | find: 'evt-short', page.evt-short %}
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    <h1>{{ era.title }}</h1>
                    {% for section in era.more.section %} <!-- outer for -->
                        {% assign sid = forloop.index %}
                    <h3>{{ section.start | date: '%d.%m.%Y'}} - {{ section.end | date: '%d.%m.%Y' }} | {{ section.title }}</h3>
                    {% for media in section.content %}
                        {% assign vid = forloop.index %}
                            <!-- event has media / source -->
                            {% if media.source != nil %}
                                <!-- source is embeddable-->
                                {% if media.iframe == true %}
                                    <!-- create collapsable -->
                                    <h5><a data-bs-toggle="collapse" href="#collapse-{{sid}}{{vid}}" role="button" aria-expanded="false" aria-controls="#collapse-{{sid}}{{vid}}">{{ media.title }}</a></h5>
                                    <div class="row collapse" id="collapse-{{sid}}{{vid}}">
                                        <!-- media is yt -->    
                                        {% if media.type == "yt" %}
                                            <!-- include yt-lite screen -->
                                            {% include hmmly_player.html %}
                                        {% else %} <!-- embeddable but not yt) -->
                                            <iframe
                                                src="{{ media.source }}" 
                                                title="{{ media.author }}: {{ media.title }} ({{ media.date }}) [{{media.type}}]"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                            </iframe>
                                        {% endif %}  <!-- endif embeddable -->
                                    </div> <!-- end collapsable -->
                                {% else %} <!-- non embeddable source -->
                                    <!-- create simple anchor -->
                                    <h5><a href="{{ media.source }}">{{ media.title }} [ext]</a></h5>
                                {% endif %} <!-- end source handling -->
                            {% else %} <!-- no source available -->
                                <!-- create header w/o link -->
                                    <h5>{{ media.title }}</h5>    
                            {% endif %} <!-- end entry handling -->
                        {% endfor %} <!-- end entry handling -->
                    {% endfor %} <!-- end section handling -->
                </div>
            </section>

            <!-- Glossary -->
            <section class="row justify-content-center">            
                <div class="col col-md-12 col-lg-10">
                    <h1>Glossar</h1>
                    <ul class="p-0" style="list-style-type: none">
                        {% assign military = site.data.glossary | where: "category", "military" | sort: "word" %}
                        {% for entry in military %}
                        <li>
                            <a href="{{entry.description_link}}">{{ entry.word }}</a> <a href="{{entry.trend_link}}">[trend]</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>
