<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <section class="row justify-content-center">   
            <div class="col col-md-10 col-lg-8">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">Das Besuchen dieser Webseite aus Deutschland und durch Deutsche ist strengstens untersagt!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>              
                </div>
            </div>
        </section>

        <article class="container-fluid">
            {% for post in site.posts %}
            {% unless post.hidden == true %}
            <section class="searchable row justify-content-center" data-tags="{{post.tags}}">
                <div class="col col-md-12 col-lg-10">
                    <time>{{ post.date | date_to_long_string }}</time>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    
                    <!-- video player -->
                    {% if post.playlist_id %}
                    <!-- player: not always rendered on index -->
                    <section class="searchable row justify-content-center">   
                        <div class="col col-md-12 col-lg-10">
                            <!-- todo -->
                        </div>
                    </section>
                    {% endif %}
                    <!--
                    {% if post.cipher %}
                    <section class="row justify-content-center">   
                        <div class="col col-md-12 col-lg-10">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Diese Seite können Faschos nicht lesen. Fast alle anderen haben ein Passwort.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>              
                            </div>
                        </div>
                    </section>
                    {% endif %}
                    -->
                    <!-- content excerpt -->
                    {% if post.content contains site.excerpt_separator %}
                    <div class="{{post.cipher}}">
                        {{ post.excerpt }}
                        <a href="{{ post.url }}">mehr..</a>
                    </div>
                    {% else %}
                    <div class="{{post.cipher}}">
                        {{ post.content }} 
                    </div>
                    {% endif %}   
                </div>
            </section>
            {% endunless %}
            {% endfor %}
        </article>
        {% include footer.html %}
    </body>
</html>