<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <div id="hmmlyPlayerCarousel-nr" class="carousel slide">
            {% for t in site.data.media.other.content %}
            {% if forloop.first %}
                <section class="active carousel-item">{% else %}<section class="carousel-item">
            {% endif %} 
                    <nav class="row justify-content-start">
                        <div class="col-1"> 
                            <button style="height: 2rem" class="carousel-control-prev" type="button" data-bs-target="#hmmlyPlayerCarousel-nr" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Vorherige</span>
                            </button>
                        </div>
                        <div class="col-8">
                            <h3 class="text-truncate">{{ t.artist }} - {{t.title}}</h3>
                            <p style="min-height: 1rem">{{ t.ntk }}</p>
                        </div>
                        <div class="col-1">  
                            <button style="height: 2rem" class="carousel-control-next" type="button" data-bs-target="#hmmlyPlayerCarousel-nr" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Nächste</span>
                            </button>
                        </div>
                    </nav>    
                    <div class="row">
                        <div class="col col-12">
                            <div class="row justify-content-center">
                                <div class="col col-md-12 col-lg-10">
                                    <hmmly-player id="{{t.id}}" data-yt-vid="{{t.id}}"></hmmly-player>
                                    {% include rating.html %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <div class="row justify-content-center">
                                <div class="col col-md-12 col-lg-10">
                                    Mehr Musik und Videos aus einem Leben <a href="/bild-und-ton/">gibt es hier</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
            </div>
            <section class="searchable row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>