<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <div class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {% assign gallery = site.data.media.photos.content | find: "id", page.gallery_id %}
                    <h1>{{gallery.title}}</h1>
                    <div id="carousel_{{gallery.id}}" class="carousel">
                        <div class="row justify-content-center">
                            <div class="col col-12">
                                <div class="carousel-inner">
                                    {% for photo in gallery.content %}
                                    {% if forloop.first %}
                                    <section class="active carousel-item">{% else %}<section class="carousel-item">{% endif %}
                                        <div class="card p-4">
                                            <img data-src="/assets/images/{{gallery.path}}/{{gallery.id}}/{{photo.source}}" class="card-img-top rounded d-block mh-100 mw-100 w-auto mx-auto lazyload" alt="{{photo.description}}">
                                            <div class="card-body">
                                                <h3 class="card-title">{{photo.title}}</h3>
                                                <p class="card-text">{{photo.description}}</p>
                                            </div>
                                        </div>
                                    </section>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <nav class="row justify-content-start">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_{{gallery.id}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Vorheriges</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel_{{gallery.id}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Nächstes</span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </article>
        {% include footer.html %}
    </body>
</html>


