<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <section class="row justify-content-center">   
                <div class="col col-md-12 col-lg-10">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% if page.cipher == "encr" %}
                        Diese Seite können Faschos nicht lesen. Fast alle anderen haben ein Passwort.
                        {% elsif page.cipher == "cookieEncr" %}
                        Für das Betrachten dieser Seite müssen Cookies akzeptiert werden.
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>              
                    </div>
                </div>
            </section>
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10 text-break">
                    <div class="{{page.cipher}}">
                        {{ content }}
                    </div>
                </div>
            </section>
        </article>
        {% include footer.html %}     
    </body>
</html>
