<!doctype html>
<html lang="de">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- <piwik analytics> -->
        {% include piwik.html %}
        <!-- <header> -->
        {% include header_nav.html %}
        <!-- </header> -->
        <article class="container-fluid">
            <!-- filter by era -->
            <nav>
                {% include era_filter.html %}
            </nav>
            
            {% assign era = site.data.era | find: 'era-short', page.era-short %}

            {% if era != nil %} 
                {% assign lower = era.start | date: '%s'| plus: 0 %}
                {% assign upper = era.end | date: '%s'| plus: 0 %}
            {% else %}
                {% assign lower = '1977-12-31' | date: '%s' | plus: 0 %}
                {% assign upper = site.time | date: '%s' | plus: 0 %}
            {% endif %}

            <header class="row justify-content-center">   
                <div class="col col-md-12 col-lg-100">
                    <h3>{% if era != nil %}{{ lower | date: '%d.%m.%Y' }} - {{ upper | date: '%d.%m.%Y' }}{% endif %}</h3>
                </div>
            </header>

            <!-- static content -->
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {{ content }}
                </div>
            </section>

            <!-- era videos -->

            {% for topic in site.data.world_events %}
            {% assign index = forloop.index %}
            {% assign media = topic.media %}
            {% assign date = media.date | date: '%s' | plus: 0 %}
            {% if date >= lower and date <= upper %}
            <section class="row justify-content-center">
                <div class="col col-md-12 col-lg-10">
                    {% if media.type == "yt" %} <!-- AND -->
                        {% if media.iframe == true %}
                    <h3><a data-bs-toggle="collapse" href="#collapse-{{ index }}" role="button" aria-expanded="false" aria-controls="#collapse-{{ index }}">{{ topic.end | date: '%Y' }} - {{ topic.start | date: '%Y' }} {{ topic.title }}</a></h3>
                    
                    <div class="row collapse" id="collapse-{{ index }}">
                        <hmmly-player id="news-{{topic.evt-short}}" playlist_id="news-{{topic.evt-short}}" data-provider="music,playlists"></hmmly-player>
                    </div>
                        {% endif %}
                    {% else %}
                    <a href="https://www.youtube.com/watch?v={{ media.source }}" type="button">{{ topic.start | date: '%Y' }} {{ topic.title }} [ext]</a>
                    {% endif %}
                </div>
            </section>
            {% endif %}
            {% endfor %}
        </article>     
        {% include footer.html %}
    </body>
</html>